<span>12</span>
<ul>
	<li class="vendorSelect"></li>
</ul>
<script src="/static/js/jquery.min.js"></script>
<script>
	$(function(){
		$.ajax({
	      url:'http://192.168.3.105:8000/index.php/index/Picture/quality',
	      type:'get',
	      dataType:'json',
	      data:{value:1},
	      async:false,
	      success:function(datas){

	      	var vendorJson = eval(datas.date);
	      	
			    for(var i=0; i<vendorJson.length; i++)
			    {
			    	alert(vendorJson[i]);
			    	// html += "<span>"+vendorJson[i]+"</span>";
			    }
			    // $("#vendorSelect").html('').append(html);
		   	

	      	
	      	// var data =(new Function("","return "+datas))();


	      	// // alert(data.next_present);return false;
	      	// console.log(data.next_present);return false;
	       // var str = data.username + data.age + data.job;
	       // $("#result").html(str);
	      }
	    })
	})
</script>
